<mat-toolbar color="primary">
    <span>Frontend Application</span>
    <span class="button-spacer"></span>

    <button mat-button routerLink="/home">Home</button>

    <button mat-button routerLink="/products">Products</button>

    <button mat-button routerLink="/add-product">Add Product</button>

    <button mat-button routerLink="/customers">Customers</button>

    <button mat-button routerLink="/add-customer">Add Customer</button>

    <button mat-button routerLink="/new-order">New Order</button>


</mat-toolbar>

