<div class="container mb-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td><input type="text" [(ngModel)]="product.name" name="productName" id="productName"
                            class="form-control mb-3"></td>
                    <td><input type="text" [(ngModel)]="product.price" name="productPrice" id="productPrice"
                            class="form-control mb-3"></td>
                    <td>
                        <button class="btn btn-primary" (click)="editProduct(product)">Edit</button>
                        &nbsp;
                        <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                    </td>
                </tr>
        </tbody>
    </table>
</div>