<div class="container">

    <div class="row">
        <div class="col-md-12">
        <h1>Orders</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Order Date</th>
                <th>Order Total</th>
                <!-- <th>Order Details</th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.customer.id}}</td>
                <td>{{order.createdDate}}</td>
                <td>{{order.totalPrice}}</td>
                <!-- <td><a [routerLink]="['/order-details', order.id]">View</a></td> -->
            </tr>
            </tbody>
        </table>
        </div>
    </div>

</div>